name: Pre-release

on:
  push:
    branches:
      - pre

jobs:
  pre-release:
    name: Create Pre-release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install
        shell: bash

      - name: Build
        run: bun run build
        shell: bash

      - name: Create Pre-release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: pre-${{ github.sha }}
          name: Pre-release ${{ github.ref_name }}-${{ github.sha }}
          prerelease: true
          files: |
            dist/firecord.js
            dist/firecord.min.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
